aniso8601==10.0.1
attrs==26.1.0
click==8.4.2
flask>=3,<4
flask-restx>=1,<2
flask-marshmallow==1.5.0
itsdangerous==2.2.0
jinja2==3.1.6
jsonschema==4.26.0
MarkupSafe==3.0.3
marshmallow==4.3.0
more-itertools==11.1.0
packaging==26.2
pluggy==1.6.0
py==1.11.0
pyparsing==3.0.9
pyrsistent==0.20.0
pytest==9.1.1
pytz==2026.2
six==1.17.0
wcwidth==0.8.2
werkzeug>=3,<4; python_version >= '3.8'
