aniso8601==8.0.0
attrs==19.3.0
Click==7.0
Flask==1.0.2
flask-marshmallow==0.10.1
flask-restx==0.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
MarkupSafe==1.1.1
marshmallow==3.2.2
more-itertools==8.0.0
packaging==19.2
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.5
pyrsistent==0.15.6
pytest==5.3.1
pytz==2019.3
six==1.13.0
wcwidth==0.1.7
Werkzeug==0.16.0
